:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #24152f;
  background-color: #fff8ed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Basic reset */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Make images responsive */

img {
  max-width: 100%;
  display: block;
}

/* Remove default button/input font differences */

button,
input {
  font: inherit;
}